@model ErrorViewModel
@{
    ViewData["Title"] = Model.Titulo;
}

<link rel="stylesheet" href="~/css/erro.css" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="page-404" style="margin-top: 15%;">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-cogs"></i><span>@Model.ErroCode.ToString()</span></div>
                <span class="inner-status">@Html.Raw(Model.Titulo)</span>
                <span class="inner-detail">@Html.Raw(Model.Mensagem)</span>
                <!--END CONTENT-->
                <div style="text-align: center">
                    <a href="javascript:history.back()" class="btn btn-custom btn-info waves-effect waves-light m-t-20">Voltar</a>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-custom btn-info waves-effect waves-light m-t-20">ir para Home</a>
                </div>
            </div>
        </div>
    </div>
</div>